.banner_tienda {
    margin-top: 4rem;
}



.container_tienda {
    margin-left: 5%;
    margin-right: 5%;

    .card__tienda {
        margin-top: 1.8rem;
        margin-right: 3rem;
        margin-bottom: 1rem;
    }

    .card {
        width: 400px;
        font-family: $fuente-principal;
        font-size: 20px
    }

}

