.container_tienda {
    margin-left: 10%;
    margin-right: 10%;

    .card__tienda {
        margin-right: 5rem;
        margin-bottom: 2rem;
    }

    .card {
        font-family: $fuente-principal;
        font-size: 20px
    }

}