.text_carrito{
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}

.banner_tienda {
    width: 100%;
    margin-top: 4rem;
  }
  
  .container_tienda {
    margin-left: 5%;
    margin-right: 5%;
  
    .card__tienda {
      margin-top: 1.8rem;
      margin-right: 3rem;
      margin-bottom: 1rem;
    }
  
    .card {
      font-family: $fuente-principal;
      font-size: 20px;
      max-width: 400px;
      width: 100%;
    }


  }

  @media (max-width: 500px) {
    .container_tienda {
      margin-left: 0%;
      margin-right: 0%;
    }
  
    .card {
      max-width: 100%;
    }
  }


  .table_container{
    margin-bottom: 8rem;
    text-align: center;
  }

  .caja_mensaje_carrito{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .boton_Comprar{
    margin-top: 1.5rem;
    width: 10rem;
  }